<body>

      <h2>Google Directions</h2>
      <h3>Please select </h3>
      <div class="row">
        <mat-form-field>
          <mat-label>Select Source</mat-label>
          <mat-select (selectionChange)="onSourceChange($event.value)" [(value)] = "selectedSource">
            <mat-option>None</mat-option>
            <mat-option value="chicago, il">Chicago</mat-option>
            <mat-option value="st louis, mo">St Louis</mat-option>
            <mat-option value="oklahoma city, ok">Oklahoma</mat-option>
            <mat-option value="los angeles, ca">Los Angeles</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Select Destination</mat-label>
          <mat-select (selectionChange)="onDestinationChange($event.value)" [(value)] = "selectedDestination">
            <mat-option>None</mat-option>
            <mat-option value="chicago, il">Chicago</mat-option>
            <mat-option value="st louis, mo">St Louis</mat-option>
            <mat-option value="oklahoma city, ok">Oklahoma</mat-option>
            <mat-option value="los angeles, ca">Los Angeles</mat-option>
          </mat-select>
        </mat-form-field>
    </div>

  <div class="map-container">
    <div class="map-frame">
      <div id="g-map"></div>
    </div>
  </div>
  <h3 *ngIf="distance">Driving distance is {{distance}} ({{time}})</h3>

</body>

