mat-sidenav-container {
  height: 100%;
}

mat-sidenav,
mat-sidenav-content {
}

mat-sidenav {
  width: 200px;
  padding: 0px;
}

mat-toolbar a {
  padding: 0 10px;
  margin: 0 10px;
  text-decoration: none;
  color: white;
}

.main-tool-bar-icon {
  color: indigo;
  background-color: transparent;
}

.spacer {
  flex: 1 1 auto;
}
