<body>

  <h2>Home Page</h2>
  <div class="container">
    <div class="home-page-card">
      <h3>A simple app to demonstrate Angular.</h3>
      <h3> <span>Site navigation: </span>Please use the side-nav.</h3>
      <p><span>Tracking ISS:</span> Tracking the International Space Station's current location, courtesy WTIA REST API and the open source interactive maps JavaScript library called Leaflet.</p>
      <p><span>Google Routes: </span>Displaying the route polylines on a google map, using google maps javascript API and directions API. User can select source and destination to display the road route between them. On this page load, please enable location services to your browser.</p>
      <p><span>Superbowl stats: </span>A simple chart and a data table displaying the winners of the NFL superbowl from years 1967 to 2020. This page was build using chart.js JavaScript library and Angular material table. Dataset courtesy, Tim Bozsolik on kaggle.com </p>
    </div>
  </div>

</body>
